Repository jakobo/expo-community-flipper: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "*.{json,gql,graphql,md,yaml,yml}": [
    "prettier --write"
  ],
  "**/*.{js,ts,jsx,tsx,vue}": [
    "tslint --fix",
    "prettier --write"
  ]
}

chore: Adds autogenerated files
  .eslintrc.js
Due: prettier --write, tslint --fix

fix: Pins sdk as major semver
  package.json
Due: prettier --write

fix: Uses named exports from config-plugins
  src/withFlipper.ts
Due: prettier --write, tslint --fix

chore: Creates patch release
  package.json
Due: prettier --write

fix: Fixes an undefined Flipper value if options are empty
  package.json
  src/withFlipper.ts
Due: prettier --write, tslint --fix

docs: Modifies readme to move away from scoped package
  README.md
  package.json
Due: prettier --write

fix: Improves flipper detection for install, adds changelog
  CHANGELOG.md
  package.json
  src/withFlipper.ts
Due: prettier --write, tslint --fix

[docs] minor tweaks in README
  README.md
Due: prettier --write

feat: Adds support for a string flipper version
  README.md
  src/__tests__/__snapshots__/withFlipper-test.ts.snap
  src/__tests__/withFlipper-test.ts
  src/withFlipper.ts
Due: prettier --write, tslint --fix

refactor: Adds build directory for commits
  .gitignore
  CHANGELOG.md
  build/withFlipper.d.ts
  build/withFlipper.js
Due: prettier --write, tslint --fix

feat: Allows for specifying flipper as a string
  CHANGELOG.md
  build/withFlipper.d.ts
  build/withFlipper.js
  package.json
  src/__tests__/withFlipper-test.ts
  src/withFlipper.ts
Due: prettier --write, tslint --fix

docs: Fixes example
  README.md
Due: prettier --write

fix(docs): missing brackets in plugins instruction
  README.md
Due: prettier --write

chore: Upgrades SDK to 44
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

docs: Removes no longer required "tested against"
  README.md
Due: prettier --write

chore: Commit release artifacts for 44.0.1
  CHANGELOG.md
  README.md
  plugin/README.md
  plugin/package.json
Due: prettier --write

44.0.1-next.0
  package.json
Due: prettier --write

fix: Fixes package.json dependencies
  package.json
  plugin/package.json
Due: prettier --write

chore: Adds husky hooks
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  package.json
Due: prettier --write

deps: Removes remote flipper plugin dep
  example/package.json
  yarn.lock
Due: prettier --write

fix: Resolves an issue with idempotent builds
  .lintstagedrc.json
  CHANGELOG.md
  example/package.json
  plugin/build/withFlipper.js
  plugin/package.json
  plugin/src/withFlipper.ts
  yarn.lock
Due: prettier --write, tslint --fix

wip: Creates example dir
  .gitignore
  .lintstagedrc.json
  CHANGELOG.md
  README.md
  example/.gitignore
  example/App.tsx
  example/app.json
  example/assets/adaptive-icon.png
  example/assets/favicon.png
  example/assets/icon.png
  example/assets/splash.png
  example/eas.json
  example/package.json
  example/tsconfig.json
  package.json
  plugin/.eslintrc.js
  plugin/build/withFlipper.d.ts
  plugin/build/withFlipper.js
  plugin/jest.config.js
  plugin/package.json
  plugin/src/__tests__/__fixtures__/README.md
  plugin/src/__tests__/__fixtures__/sdk43/android/gradle.properties
  plugin/src/__tests__/__fixtures__/sdk43/ios/Podfile
  plugin/src/__tests__/__snapshots__/withFlipper-test.ts.snap
  plugin/src/__tests__/withFlipper-test.ts
  plugin/src/withFlipper.ts
  plugin/tsconfig.json
  plugin/tslint.json
  yarn.lock
Due: prettier --write, tslint --fix

fix: Changes husky script permissions to execute
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
Due: none

docs: Updates readme files
  README.md
  plugin/README.md
Due: prettier --write

feat: Adds release-it for consistent releasing
  package.json
  yarn.lock
Due: prettier --write

docs: Updates changelog
  CHANGELOG.md
Due: prettier --write

docs: Adds reference URLs to changelog
  CHANGELOG.md
Due: prettier --write

fix: Fixes release-it to support workspaces
  package.json
  yarn.lock
Due: prettier --write

chore: Releases version v44.0.2
  example/package.json
  package.json
  plugin/package.json
Due: prettier --write

fix: Adds npmrc for publish to use correct node paths
  .npmrc
Due: none

deps: Removes unneeded scripts
  package.json
Due: prettier --write

deps: Removes unneeded scripts
  plugin/package.json
Due: prettier --write

fix: Fixes SDK versions in compat table
  plugin/README.md
Due: prettier --write

chore: Releases version v44.0.3
  example/package.json
  package.json
  plugin/package.json
Due: prettier --write

chore: Updates info for sdk 45
  CHANGELOG.md
  README.md
  plugin/README.md
Due: prettier --write

chore: Releases version v45.0.0
  example/package.json
  package.json
  plugin/package.json
Due: prettier --write

chore: Updates README w/ expo sdk policy
  README.md
Due: prettier --write
